body{
    height: 95vh;
    background-color: #DFF2EB;
    margin: 0;
    padding: 20px;
}

header{
    margin-bottom: 30px;
}

h1{
    margin: 0;
    text-align: center;
    color: #4A628A;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

main > div{
    width: 70%;
    height: 100%;
    border: solid 2px #7AB2D3;
    border-radius: 5px;
    background-color: #B9E5E8;
    color: #4A628A;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
    border: solid 2px #B9E5E8;
    border-radius: 5px;
    background-color: #7AB2D3;
    color: #7AB2D3;
}


table{
    width: 95%; 
    margin: 15px;
    border-collapse: collapse;
}

th, td {
    border-radius: 5px;
    padding: 8px; 
    width: 12.5%;
    text-align: center;
}

td > button:first-child{
    background-color: #007CFF;
    border-color: #007CFF;
    color: #f5f5f5;
    border-radius: 5px;
}

td > button:last-child{
    background-color: #DC3544;
    border-color: #DC3544;
    color: #f5f5f5;
    border-radius: 5px;
}

form > div{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input{
    width: 95%;
    padding: 5px;
}

ul{
    color: #e9505d;
}